---
layout: default
---

<header id="intro">
  <h1>Agis Anastasopoulos</h1>
  <p>
  I work at <a href="http://skroutz.gr" target="_blank" rel="external">Skroutz</a>, in Athens. When I’m not doing that, I’m hacking on <a href="http://github.com/Agis-">open source</a>, studying how things built on top of computers work or <a href="http://stackoverflow.com/users/1242778/agis" target="_blank">help other people</a>.
  </p>
  <a href="https://twitter.com/agisanast" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @agisanast</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</header>

<hr/>

<section id="posts">
  <h2>Latest Posts</h2>

  <ul id="posts">
    {{ content }}
  </ul>
</section>
