---
layout: default
---

<div class="intro">
  <h1>Agis Anastasopoulos</h1>
  <p>
    I work at <a href="http://skroutz.gr" target="_blank" rel="external">Skroutz</a> in Athens, Greece. When I’m not doing that, I’m hacking on <a href="http://github.com/agis-" target="_blank" rel="external">open source</a>, discovering how computers really work or <a href="http://stackoverflow.com/users/1242778/agis" target="_blank" rel="external">help other people do the same, among others</a>.
  </p>

  <p>
    Feel free to <a href="https://twitter.com/agisanast" target="_blank" rel="external">tweet me</a> or
    <a href="mailto:agis.anast@gmail.com?subject=agis.io">drop me a line</a>.
  </p>
</div>

<hr/>

<div class="posts">
  <h2>Latest Posts</h2>

  <ul class="posts">
    {{ content }}
  </ul>
</div>
