---
layout: default
---

<div class="back">
  <a href="/">&lsaquo; back</a>
</div>

<div id="post">
  <h1>{{ page.title }}</h1>

  <div class="date">
    <em>{{ page.date | date_to_string }}</em>
  </div>

  <div class="post-body">
    {{ content }}
  </div>
</div>

<div id="share">
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="agisanast" data-related="agisanast">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

<hr />

<div id="credits">
  You should <div class="twitter"><a href="https://twitter.com/agisanast" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">follow</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>  me on Twitter.
</div>
