---
layout: default
---

<header id="intro">
  <h1>Agis Anastasopoulos</h1>
  <p>
    I work at <a href="http://skroutz.gr" target="_blank" rel="external">Skroutz</a>, in Athens. When I’m not doing that, I’m hacking on <a href="http://github.com/Agis-">open source</a> or studying how computers and things built on top of them work.
  </p>
  <p>You should <a href="https://twitter.com/agisanast" target="_blank" rel="external">follow me on Twitter</a>.</p>
</header>

<hr/>

<section id="posts">
  <h2>Latest Posts</h2>

  <ul id="posts">
    {{ content }}
  </ul>
</section>
